# Assignment 4B

Version 1.01

**Prerequisite:** You need to have gone through Assignment 4A to work through the numbers below.

To make sure that you've done the work, perform checks by running the next few cells below:

In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

print(myclient.list_database_names())

['admin', 'config', 'hr', 'local', 'order_management', 'products']

You should see the following databases:
* order_management
* products
* hr

Let's create handlers for each below:

In [3]:
products_db = myclient["products"]
order_management_db = myclient["order_management"]
hr_db = myclient["hr"]

Let's revisit the employees collection.

In [4]:
employees_col = hr_db["employees"]

[e for e in employees_col.find()]

[{'_id': 1, 'first_name': 'Bong', 'last_name': 'Olpoc', 'base_pay': 2200.0},
 {'_id': 2,
  'first_name': 'Chums',
  'last_name': 'Uy',
  'base_pay': 1650.0000000000002},
 {'_id': 3,
  'first_name': 'Joaqs',
  'last_name': 'Gonzales',
  'base_pay': 1100.0},
 {'_id': 4, 'first_name': 'Joben', 'last_name': 'Ilagan', 'base_pay': 1100.0},
 {'_id': 5, 'first_name': 'Sean', 'last_name': 'Uy', 'base_pay': 2200.0},
 {'_id': 6,
  'first_name': 'Stephen',
  'last_name': 'Chan',
  'base_pay': 1650.0000000000002}]

Let's assign an employee id to make it easier to reference. The convention we will use is just to prefix a year, followed by `_id` with padded zeros.

In [5]:
# we will have to update one document at a time, unfortunately

for e in employees_col.find({}):    
    # print("{}".format(str(e["_id"]).zfill(3)))
    employee_id = "19{}".format(str(e["_id"]).zfill(4))
    print(employee_id)
    employees_col.update_one({"_id":e["_id"]},{"$set":{"employee_id":employee_id}})

190001
190002
190003
190004
190005
190006

In [6]:
# check if new column employee_id was created
for x in employees_col.find():
    print(x)

{'_id': 1, 'first_name': 'Bong', 'last_name': 'Olpoc', 'base_pay': 2200.0, 'employee_id': '190001'}
{'_id': 2, 'first_name': 'Chums', 'last_name': 'Uy', 'base_pay': 1650.0000000000002, 'employee_id': '190002'}
{'_id': 3, 'first_name': 'Joaqs', 'last_name': 'Gonzales', 'base_pay': 1100.0, 'employee_id': '190003'}
{'_id': 4, 'first_name': 'Joben', 'last_name': 'Ilagan', 'base_pay': 1100.0, 'employee_id': '190004'}
{'_id': 5, 'first_name': 'Sean', 'last_name': 'Uy', 'base_pay': 2200.0, 'employee_id': '190005'}
{'_id': 6, 'first_name': 'Stephen', 'last_name': 'Chan', 'base_pay': 1650.0000000000002, 'employee_id': '190006'}

### 1) Logging Sales Orders

Let's create a function `create_sales_order(collection, shopping_cart)` that takes on a MongoDB collection and a shopping cart directory as parameters and inserts the data directly as a document in the passed collection parameter.

But first, we need to create the collection **sales_orders** in **order_management**:

In [7]:
sales_orders_col = order_management_db["sales_orders"]

#### 1a) Insert existing shopping carts to the new collection

Existing shopping cart documents have already been defined below. Insert into the new collection. Let MongoDB handle creating the new `_id`s so no need to define these.

(10 points)

In [8]:
from datetime import datetime

shopping_cart_list = [
    {"transaction_date":datetime.strptime('Jul 1 2019  1:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":1,
     "clerk_id":"190002",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  1:35PM', '%b %d %Y %I:%M%p'),
     "customer_id":2,
     "clerk_id":"190001",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  3:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":3,
     "clerk_id":"190003",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  3:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":4,
     "clerk_id":"190004",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  4:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":5,
     "clerk_id":"190001",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  5:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":6,
     "clerk_id":"190006",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  6:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":7,
     "clerk_id":"190005",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
]

In [9]:
shopping_cart_list

[{'transaction_date': datetime.datetime(2019, 7, 1, 13, 30),
  'customer_id': 1,
  'clerk_id': '190002',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 13, 35),
  'customer_id': 2,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 3,
  'clerk_id': '190003',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 4,
  'clerk_id': '190004',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 16, 30),
  'customer_id': 5,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 17, 30),
  'customer_id': 6,
  'clerk_id': '190006',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 18, 30),
  'customer_id': 7,
  'clerk_id': '190005',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]}]

In [10]:
## write code to insert to new collection below
## ---------------------------------------------


x = sales_orders_col.insert_many(shopping_cart_list)
print(x.inserted_ids)

## if you want to repeat the process due to a mistake, run the following line:
# sales_orders_col.delete_many({})

[ObjectId('5d36de792ea070b9940d0a9c'), ObjectId('5d36de792ea070b9940d0a9d'), ObjectId('5d36de792ea070b9940d0a9e'), ObjectId('5d36de792ea070b9940d0a9f'), ObjectId('5d36de792ea070b9940d0aa0'), ObjectId('5d36de792ea070b9940d0aa1'), ObjectId('5d36de792ea070b9940d0aa2')]

#### 1b) Define the function  `create_sales_order(collection, shopping_cart)` and test with a new shopping cart dictionary

(10 points)

In [11]:
new_shopping_cart = {
    "transaction_date":datetime.strptime('Jul 2 2019  8:30AM', '%b %d %Y %I:%M%p'),
     "customer_id":3,
     "clerk_id":"190002",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":2,
             "subtotal":400
         }
     ]
    }

In [12]:
# define function here

def create_sales_order(collection, shopping_cart):
    # write code here
    if type(shopping_cart) == list:
        x=collection.instert_many(shopping_cart)
    pass
    if type(shopping_cart)==dict:
        x = collection.insert_one(shopping_cart)
    return x

In [13]:
# test your new function here:

create_sales_order(sales_orders_col, new_shopping_cart)

# inspect whole sales_order collection
[s for s in sales_orders_col.find({})]

[{'_id': ObjectId('5d36de792ea070b9940d0a9c'),
  'transaction_date': datetime.datetime(2019, 7, 1, 13, 30),
  'customer_id': 1,
  'clerk_id': '190002',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d36de792ea070b9940d0a9d'),
  'transaction_date': datetime.datetime(2019, 7, 1, 13, 35),
  'customer_id': 2,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d36de792ea070b9940d0a9e'),
  'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 3,
  'clerk_id': '190003',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d36de792ea070b9940d0a9f'),
  'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 4,
  'clerk_id': '190004',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d36de792ea070b9940d0aa0'),
  'transaction_date': datetime.datetime(2019, 7, 1, 16, 30),
  'customer_id': 5,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d36de792ea070b9940d0aa1'),
  'transaction_date': datetime.datetime(2019, 7, 1, 17, 30),
  'customer_id': 6,
  'clerk_id': '190006',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d36de792ea070b9940d0aa2'),
  'transaction_date': datetime.datetime(2019, 7, 1, 18, 30),
  'customer_id': 7,
  'clerk_id': '190005',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d36de7a2ea070b9940d0aa3'),
  'transaction_date': datetime.datetime(2019, 7, 2, 8, 30),
  'customer_id': 3,
  'clerk_id': '190002',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 2, 'subtotal': 400}]}]

### 2) Determine commissions of clerks from sales orders

Assuming each salesperson/clerk gets 1% of gross sales, list potentential commissions earned per sales order.

In [14]:
# do a quick dump of sales orders showing just the clerk id and total amount per sales order
[o for o in sales_orders_col.find({},{"_id":0,"clerk_id":1,"total":1})]

[{'clerk_id': '190002', 'total': 400},
 {'clerk_id': '190001', 'total': 400},
 {'clerk_id': '190003', 'total': 400},
 {'clerk_id': '190004', 'total': 400},
 {'clerk_id': '190001', 'total': 400},
 {'clerk_id': '190006', 'total': 400},
 {'clerk_id': '190005', 'total': 400},
 {'clerk_id': '190002', 'total': 400}]

If you wish to display the name of the clerk, let's apply a lookup function

In [15]:
def employee_lookup(x):
    employee = employees_col.find_one({"employee_id":x})
    return "{}, {}".format(employee["last_name"], employee["first_name"])

commission_rate = 0.01

final_list=[{employee_lookup(o["clerk_id"]):{"total":o["total"], "commissions":o["total"]*.01}} for o in sales_orders_col.find({},{"_id":0,"clerk_id":1,"total":1})]
final_list

[{'Uy, Chums': {'total': 400, 'commissions': 4.0}},
 {'Olpoc, Bong': {'total': 400, 'commissions': 4.0}},
 {'Gonzales, Joaqs': {'total': 400, 'commissions': 4.0}},
 {'Ilagan, Joben': {'total': 400, 'commissions': 4.0}},
 {'Olpoc, Bong': {'total': 400, 'commissions': 4.0}},
 {'Chan, Stephen': {'total': 400, 'commissions': 4.0}},
 {'Uy, Sean': {'total': 400, 'commissions': 4.0}},
 {'Uy, Chums': {'total': 400, 'commissions': 4.0}}]

#### 2a) Generate a csv file containing total commissions earned per employee

Go wild, be creative. Whether you generate the aggregate totals through accumulation (via regular iterators), Pandas dataframes, or through MongoDB aggregations, it's up to you.

The file must be saved as **commissions.csv"

The csv must have the following format:
```
last_name,first_name,total_sales,total_commissions
```

(20 points)

In [16]:
total_sales_chums=final_list[0]["Uy, Chums"]["total"]+final_list[7]["Uy, Chums"]["total"]
total_sales_bong=final_list[1]["Olpoc, Bong"]["total"]+final_list[4]["Olpoc, Bong"]["total"]
total_sales_joaqs=final_list[2]["Gonzales, Joaqs"]["total"]
total_sales_joben=final_list[3]["Ilagan, Joben"]["total"]
total_sales_stephen=final_list[5]["Chan, Stephen"]["total"]
total_sales_sean=final_list[6]["Uy, Sean"]["total"]

In [17]:
total_com_chums=total_sales_chums*.01
total_com_bong=total_sales_bong*.01
total_com_joaqs=total_sales_joaqs*.01
total_com_joben=total_sales_joben*.01
total_com_stephen=total_sales_stephen*.01
total_com_sean= total_sales_sean*.01

In [18]:
for i in final_list:
    str(i)

In [19]:
string0=str(final_list[0])
string1=str(final_list[1])
string2=str(final_list[2])
string3=str(final_list[3])
string5=str(final_list[5])
string6=str(final_list[6])

In [20]:
type(string0)

str

In [21]:
import csv 
import pandas as pd
import re


df = pd.DataFrame({"Last Name, First Name":[string0,string1,string2,string3,string5,string6],
                  "Total Sales":[total_sales_chums,total_sales_bong,total_sales_joaqs,total_sales_joben,total_sales_stephen,total_sales_sean],
                  "Total Commissions":[total_com_chums,total_com_bong,total_com_joaqs,total_com_joben,total_com_stephen,total_com_sean]})
df

,"Last Name, First Name",Total Sales,Total Commissions
0,"{'Uy, Chums': {'total': 400, 'commissions': 4.0}}",800,8.0
1,"{'Olpoc, Bong': {'total': 400, 'commissions': ...",800,8.0
2,"{'Gonzales, Joaqs': {'total': 400, 'commission...",400,4.0
3,"{'Ilagan, Joben': {'total': 400, 'commissions'...",400,4.0
4,"{'Chan, Stephen': {'total': 400, 'commissions'...",400,4.0
5,"{'Uy, Sean': {'total': 400, 'commissions': 4.0}}",400,4.0

In [22]:
df.loc[:,"Last Name, First Name"].replace("{'Uy, Chums': {'total': 400, 'commissions': 4.0}}","Uy, Chums",regex=True, inplace=True)
df.loc[:,"Last Name, First Name"].replace("{'Olpoc, Bong': {'total': 400, 'commissions': 4.0}}","Olpoc, Bong",regex=True, inplace=True)
df.loc[:,"Last Name, First Name"].replace("{'Gonzales, Joaqs': {'total': 400, 'commissions': 4.0}}","Gonzales, Joaqs",regex=True, inplace=True)
df.loc[:,"Last Name, First Name"].replace("{'Ilagan, Joben': {'total': 400, 'commissions': 4.0}}","Ilagan, Joben",regex=True, inplace=True)
df.loc[:,"Last Name, First Name"].replace("{'Chan, Stephen': {'total': 400, 'commissions': 4.0}}","Chan, Stephen",regex=True, inplace=True)
df.loc[:,"Last Name, First Name"].replace("{'Uy, Sean': {'total': 400, 'commissions': 4.0}}","Uy, Sean",regex=True, inplace=True)

In [23]:
df

  Last Name, First Name  Total Sales  Total Commissions
0             Uy, Chums          800                8.0
1           Olpoc, Bong          800                8.0
2       Gonzales, Joaqs          400                4.0
3         Ilagan, Joben          400                4.0
4         Chan, Stephen          400                4.0
5              Uy, Sean          400                4.0

In [24]:
df.to_csv("commissions.csv")

#### 2b) Generate a payslip per clerk

Each clerk must receive a payslip (as represented by separate files with the format <employee id>-commissions.html) containing the following:
    
```
<html>
   <div>{first_name} {last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions}</div>
   <div><br/>
</html>
```

(20 points)

In [39]:
from IPython.core.display import HTML

html = """

<html>
   <div>{olpoc_first_name} {olpoc_last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{olpoc_total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{olpoc_total_commissions}</div>
   <div><br/>
</html>

"""
html_output = html.format(olpoc_total_sales = df.loc[1, "Total Sales"],
                          olpoc_total_commissions = df.loc[1, "Total Commissions"],
                          olpoc_last_name = df.loc[1, "Last Name, First Name"][0:df.loc[1, "Last Name, First Name"].find(',')],
                          olpoc_first_name = df.loc[1, "Last Name, First Name"].split(" ")[1]
                         )
                          
                          
HTML(html_output)

with open('olpoc-commissions.html',"w") as file:
    file.write(html_output)

In [40]:
from IPython.core.display import HTML

html = """

<html>
   <div>{uy_first_name} {uy_last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{uy_total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{uy_total_commissions}</div>
   <div><br/>
</html>

"""
html_output = html.format(uy_total_sales = df.loc[0, "Total Sales"],
                          uy_total_commissions = df.loc[0, "Total Commissions"],
                          uy_last_name = df.loc[0, "Last Name, First Name"][0:df.loc[0, "Last Name, First Name"].find(',')],
                          uy_first_name = df.loc[0, "Last Name, First Name"].split(" ")[1]
                         )
                          
                          
HTML(html_output)

with open('uy-commissions.html',"w") as file:
    file.write(html_output)

In [42]:
from IPython.core.display import HTML

html = """

<html>
   <div>{gonzales_first_name} {gonzales_last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{gonzales_total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{gonzales_total_commissions}</div>
   <div><br/>
</html>

"""
html_output = html.format(gonzales_total_sales = df.loc[2, "Total Sales"],
                          gonzales_total_commissions = df.loc[2, "Total Commissions"],
                          gonzales_last_name = df.loc[2, "Last Name, First Name"][0:df.loc[2, "Last Name, First Name"].find(',')],
                          gonzales_first_name = df.loc[2, "Last Name, First Name"].split(" ")[1]
                         )
                          
                          
HTML(html_output)

with open('gonzales-commissions.html',"w") as file:
    file.write(html_output)

In [43]:
from IPython.core.display import HTML

html = """

<html>
   <div>{ilagan_first_name} {ilagan_last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{ilagan_total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{ilagan_total_commissions}</div>
   <div><br/>
</html>

"""
html_output = html.format(ilagan_total_sales = df.loc[3, "Total Sales"],
                          ilagan_total_commissions = df.loc[3, "Total Commissions"],
                          ilagan_last_name = df.loc[3, "Last Name, First Name"][0:df.loc[3, "Last Name, First Name"].find(',')],
                          ilagan_first_name = df.loc[3, "Last Name, First Name"].split(" ")[1]
                         )
                          
                          
HTML(html_output)

with open('ilagan-commissions.html',"w") as file:
    file.write(html_output)

In [44]:
from IPython.core.display import HTML

html = """

<html>
   <div>{chan_first_name} {chan_last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{chan_total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{chan_total_commissions}</div>
   <div><br/>
</html>

"""
html_output = html.format(chan_total_sales = df.loc[4, "Total Sales"],
                          chan_total_commissions = df.loc[4, "Total Commissions"],
                          chan_last_name = df.loc[4, "Last Name, First Name"][0:df.loc[4, "Last Name, First Name"].find(',')],
                          chan_first_name = df.loc[4, "Last Name, First Name"].split(" ")[1]
                         )
                          
                          
HTML(html_output)

with open('chan-commissions.html',"w") as file:
    file.write(html_output)

In [45]:
from IPython.core.display import HTML

html = """

<html>
   <div>{uys_first_name} {uys_last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{uys_total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{uys_total_commissions}</div>
   <div><br/>
</html>

"""
html_output = html.format(uys_total_sales = df.loc[5, "Total Sales"],
                          uys_total_commissions = df.loc[5, "Total Commissions"],
                          uys_last_name = df.loc[5, "Last Name, First Name"][0:df.loc[5, "Last Name, First Name"].find(',')],
                          uys_first_name = df.loc[5, "Last Name, First Name"].split(" ")[1]
                         )
                          
                          
HTML(html_output)

with open('uys-commissions.html',"w") as file:
    file.write(html_output)